.search-game-result {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--navydesat);
  background-color: var(--navydark);
  min-height: 15rem;
  padding: 0.5rem 2rem;
  text-decoration: none;
}

.search-game-result-section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 50%;
}

.search-game-result img {
  width: 50%;
  height: auto;
  border-radius: 1rem;
}

.search-game-result h4 {
  font-size: 2rem;
  max-width: 80%;
  color: white;
}

.search-game-result p {
  font-size: 1.6rem;
  font-weight: lighter;
  color: var(--navydesat);
}

.search-game-result:hover {
  background-color: var(--flamingo);
}
