.super-wrapper {
  width: 100vw;
}

.wrapper {
  width: 100%;
}

.cards-container-flex {
  padding-left: 80px;
  background-color: var(--navydark);
  display: flex;
  height: 200px;
  gap: 3rem;
  max-width: 140rem;
}

.btn-right-bottom {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 0 4rem 0;
}
