/* ! ++++++++++ FONT ++++++++++ */

@font-face {
  font-family: "Ti-Regular";
  src: url(../../assets/Titillium_Web/TitilliumWeb-Regular.ttf);
}
@font-face {
  font-family: "Ti-Light";
  src: url(../../assets/Titillium_Web/TitilliumWeb-Light.ttf);
}
@font-face {
  font-family: "Ti-Bold";
  src: url(../../assets/Titillium_Web/TitilliumWeb-Bold.ttf);
}

/* ! ++++++++++ WRAPPER ++++++++++ */

.details-wrapper {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--navydark);
  color: white;
}

/* ! ++++++++++ DETAIL-GAME-SECTION +++++++++++ */

.detail-game-section {
  max-width: 140rem;
  margin: 0 auto;
  padding-left: 10rem;
  padding-top: 10rem;
}

.detail-game-section h2 {
  font-size: 4.8rem;
}
.detail-game-section h3 {
  font-size: 2.4rem;
}
.detail-game-section h4 {
  font-size: 1.8rem;
}
.detail-game-section p {
  font-size: 1.6rem;
  font-family: "Ti-Light";
}

/* ! ++++++++++ DETAIL-GAME-SECTION-IMG ++++++++++ */

.detail-game-section .header-img {
  max-width: 140rem;
  height: 70rem;
  margin: 0 auto 5rem auto;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.detail-game-section .header-img .topimg {
  max-width: 140rem;
  height: 65rem;
  border-radius: 1rem;
  margin: 0 auto;
  object-fit: cover;
  z-index: 5;
}

.detail-game-section .header-img .blurimg {
  position: absolute;
  min-width: 125rem;
  max-width: 125rem;
  top: 10rem;
  filter: blur(60px) brightness(1.5);
  z-index: 0;
  opacity: 0.3;
}

/* ! ++++++++++ GAME-DETAILS ++++++++++ */

.detail-game-section .game-title {
  margin-left: 5%;
  margin-bottom: 5rem;
}

.detail-game-section .game-details {
  max-width: 90%;
  min-height: 45rem;
  margin: 0 auto 10rem auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.detail-game-section .game-details .game-details-right,
.detail-game-section .game-details .game-details-left {
  width: 45rem;
  height: 100%;
}

/* ! ++++++++++ GAME-DETAILS-LEFT ++++++++++ */

.detail-game-section .game-details .game-details-left h2 {
  font-family: "Bold";
  margin-bottom: 5rem;
}

.detail-game-section .game-details .game-details-left .thumbnail {
  width: 49rem;
  height: 25rem;
  border-radius: 1rem;
  object-fit: cover;
  margin-bottom: 2rem;
}

.detail-game-section .game-details .game-details-left h3 {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.detail-game-section .game-details .game-details-left h4 {
  margin-bottom: 2rem;
}

.detail-game-section .game-details .game-details-left .platform-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
  object-fit: contain;
}

.detail-game-section .game-details .game-details-left .genre {
  width: 12rem;
  height: 4rem;
  margin-bottom: 4rem;
  background-color: var(--navydark);
  border: 2px solid var(--flamingo);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ! ++++++++++ GAME-DETAILS-RIGHT ++++++++++ */

.detail-game-section .game-details .game-details-right h3 {
  margin-bottom: 2rem;
}

.detail-game-section .game-details .game-details-right p {
  line-height: 2.4rem;
  max-width: 56rem;
  white-space: break-spaces;
  text-align: justify;
}

/* ! ++++++++++ GAME-REQUIREMENTS ++++++++++ */

.detail-game-section .game-requirements {
  max-width: 140rem;
  height: 75rem;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem;
}

/* ! ++++++++++ GAME-REQUIREMENTS-IMAGES ++++++++++ */

.detail-game-section
  .game-requirements
  .game-requirements-left
  .game-requirements-left-image,
.detail-game-section
  .game-requirements
  .game-requirements-right
  .game-requirements-right-image {
  width: 100%;
  height: 35rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-game-section
  .game-requirements
  .game-requirements-left
  .game-requirements-left-image
  img,
.detail-game-section
  .game-requirements
  .game-requirements-right
  .game-requirements-right-image
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.detail-game-section
  .game-requirements
  .game-requirements-left
  .game-requirements-right-left
  div,
.detail-game-section
  .game-requirements
  .game-requirements-right
  .game-requirements-right-image
  div {
  width: 100%;
  height: 35rem;
  border: 2px solid var(--white);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ! ++++++++++ GAME-REQUIREMENTS-DATA ++++++++++ */

.detail-game-section .game-requirements .game-requirements-left,
.detail-game-section .game-requirements .game-requirements-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.detail-game-section
  .game-requirements
  .game-requirements-left
  .game-requirements-left-data,
.detail-game-section
  .game-requirements
  .game-requirements-right
  .game-requirements-right-data {
  padding-left: 2rem;
  width: 100%;
}

/* ! ++++++++++ GAME-REQUIREMENTS-LEFT-DATA ++++++++++ */

.detail-game-section
  .game-requirements
  .game-requirements-left
  .game-requirements-left-data
  h3 {
  margin-bottom: 2rem;
}

.detail-game-section
  .game-requirements
  .game-requirements-left
  .game-requirements-left-data
  h4 {
  margin-bottom: 2rem;
}

.detail-game-section
  .game-requirements
  .game-requirements-left
  .game-requirements-left-data
  p {
  margin-bottom: 2rem;
}

.detail-game-section
  .game-requirements
  .game-requirements-left
  .game-requirements-left-data
  div {
  max-width: 50%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ! ++++++++++ GAME-REQUIREMENTS-RIGHT-DATA ++++++++++ */

.detail-game-section .game-requirements .game-requirements-right .data-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail-game-section .game-requirements .game-requirements-right h3 {
  margin-bottom: 2rem;
}

.detail-game-section .game-requirements .game-requirements-right h4 {
  margin-bottom: 1rem;
}

.detail-game-section .game-requirements .game-requirements-right p {
  margin-bottom: 2rem;
}

.detail-game-section
  .game-requirements
  .game-requirements-right
  .data-wrapper
  .data-left,
.detail-game-section
  .game-requirements
  .game-requirements-right
  .data-wrapper
  .data-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
