.btn-showmore {
  padding: 10px;
  border-radius: 10px;
  background-color: #ff4654;
  border: none;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  align-self: flex-end;
  transition: transform 0.3s ease-in-out;
}

.btn-showmore:hover {
  transform: scale(1.2);
}
