.card-md-hor {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60rem;
  transition: transform 0.3s ease-in-out;
}

.card-md-hor:hover {
  transform: scale(1.05);
}

.card-md-hor .card-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 0rem;
  background: var(--navylight);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-radius: 2rem;
  width: 100%;
}

.card-md-hor img {
  height: 100%;
}

.card-md-hor .lower-card-content {
  padding: 4rem 4rem;
  display: flex;
  gap: 2rem;
  margin-left: -3rem;
}

.card-md-hor .lower-card-content .main-btn {
  margin-bottom: 0px;
}

.card-md-hor .top-counter-circle {
  background-color: var(--navydark);
  color: white;
  border-radius: 100%;
  border: 2px solid var(--flamingo);
  width: max-content;
  text-align: center;
  padding: 1rem 1.7rem;
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: 600;
}

.wrap-img-circle {
  position: relative;
  height: 100%;
}

.test {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: center;
}

.test-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.small-column-flex .upper-card-content {
  width: 100%;
  max-width: 37rem;
}
